<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="not-found content">
                <h1>404: NOT FOUND</h1>
                <p>The page you're trying to search doesn't exist</p>
            </div>
            <%- include("./partials/footer") %>
    </body>

</html>